altair==4.2.2
gensim==4.1.2
google_trans_new==1.1.9
gTTS==2.3.2
langchain==0.0.16
matplotlib==3.5.1
openai
openpyxl
pandas
pandas_profiling
python-dotenv
pydantic
spacy
spacy_streamlit
streamlit
streamlit_chat==0.0.2.2
streamlit_option_menu
streamlit_pandas_profiling
textblob
vaderSentiment
wordcloud
# ydata_profiling==4.1.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
