altair
gensim
google_trans_new
gTTS
langchain
matplotlib
openai
Cython
openpyxl
pandas
pandas_profiling
python-dotenv
pydantic
spacy
spacy_streamlit
streamlit
streamlit_chat==0.0.2.2
streamlit_option_menu
streamlit_pandas_profiling
textblob
vaderSentiment
wordcloud==1.4
# ydata_profiling==4.1.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
