altair
gensim
google_trans_new
gTTS
langchain
matplotlib
openai
openpyxl
pandas
pandas_profiling
python-dotenv
spacy
spacy_streamlit
streamlit
streamlit_chat
streamlit_option_menu
streamlit_pandas_profiling
textblob
vaderSentiment
wordcloud
ydata_profiling
numpy

